.main_ru {
  background: url(../../../img/schema-ru.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 1024px) {
  .main_ru {
    background-size: 200%;
  }
}

@media (max-width: 425px) {
  .main_ru {
    background: none;
  }
}
