.cookies__buttons-place {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px) {
  .cookies__buttons-place {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .cookies__buttons-place {
    width: 100%;
  }
}
