.story__questionnaire {
  width: 90%;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(47, 28, 92, 0.75);
  border-radius: 20px;
  padding: 20px;
}
