.header__container {
  margin: 0 auto;

  padding: 58px 0px 34px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 40px 0px 34px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 22px 0px 34px;
  }
}
