.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}
