@import url(__container/footer__container.css);
@import url(__social-icons/footer__social-icons.css);
@import url(__contacts/footer__contacts.css);
@import url(__paragraph/footer__paragraph.css);
@import url(__line/footer__line.css);
@import url(__contacts-item/footer__contacts-item.css);
@import url(__contacts-img/footer__contacts-img.css);
@import url(__contacts-text/footer__contacts-text.css);
@import url(__social-img/footer__social-img.css);
@import url(__link/footer__link.css);

.footer {
  width: 100%;
  padding: 10px 0px;
  background: #E2BFD6;
  color: #CD55A0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media (max-width: 425px) {
  .footer {
    display: none;
  }
}
