@import url(_active/lang-place__list-item_active.css);
@import url(_non-active/lang-place__list-item_non-active.css);

.lang-place__list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
