@import url(_ru/lang-place__list-item_ru.css);
@import url(_en/lang-place__list-item_en.css);

.lang-place__list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
