.footer__contacts {
  width: 40%;
  margin: 10px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer__contacts {
    width: 70%;
  }
}
