@import url(__caption/scheme__caption.css);

.scheme {
  height: 780px;
}

@media (max-width: 1440px) {
  .scheme {
    height: 590px;
  }
}

@media (max-width: 1024px) {
  .scheme {
    height: 410px;
  }
}

@media (max-width: 425px) {
  .scheme {
    display: none;
  }
}
