.beginning .beginning__caption {
  text-align: center;
  margin-bottom: 90px;
}

@media (max-width: 1440px) {
  .beginning .beginning__caption {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .beginning .beginning__caption {
    margin-bottom: 10px;
  }
}
