@import url(_beginning/video_beginning.css);
@import url(_swiper/video_swiper.css);
@import url(__play/video__play.css);
@import url(__title/video__title.css);
@import url(__project/video__project.css);
@import url(__name/video__name.css);

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
