@import url(__container/header__container.css);
@import url(__logo-link/header__logo-link.css);
@import url(__logo/header__logo.css);
@import url(__nav/header__nav.css);
@import url(__lang-place/header__lang-place.css);

.header {
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .header {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .header {
    display: none;
  }
}
